#container {
    margin: 20px;
    padding: 20px;
font-size:15px
    /* border: 1px solid #000; */
}

/* Content BEFORE the container */
#container::before {
    content: "Before Element";
    color: #f00;
    font-size: 20px;
    
   
}

/* Content AFTER the container */
#container::after {
    content: "After Element";
    color: #f00;
    font-size: 20px;
  
  
}





