#container {
  margin: 20px;
}

#container::before {
  content: "Before Content";
  color: #f00;
  font-size: 20px;
  display: block;
}

#container::after {
  content: "After Content";
  color: #f00;
  font-size: 20px;
  display: block;
}
